.popartists {
    
    opacity: 0.8;

   &:hover {
       cursor: pointer;
       opacity: 1;
       border: 2px solid black;
   }
}

.result-hover {
    border: 2px solid white;
    &:hover {
        border: 2px solid red;
        cursor: pointer;
        color: red;
    }
}